<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>All authors</title>
</head>
<body class="bg-light">

<div>
    <div sec:authorize="isAuthenticated()" th:replace="fragments/navbar.html :: div.authorized-nav"></div>
    <div sec:authorize="!isAuthenticated()" th:replace="fragments/navbar.html :: div.unauthorized-nav"></div>
</div>

<div class="container">
    <div class="py-5 text-center mt-5">
        <div th:switch="${#lists.isEmpty(authors)}">
            <div th:case="${false}" class="table-responsive">
                <h2>Present authors</h2>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Last name</th>
                        <th>First name</th>
                        <th>Patronymic</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="align-middle" th:each="author : ${authors}">
                        <td><span th:text="${author.lastName}"></span></td>
                        <td><span th:text="${author.firstName}"></span></td>
                        <td><span th:text="${author.patronymic}"></span></td>
                        <td><span><a class="btn btn-primary" th:href="@{'/authors/edit/' + ${author.id}}" role="button">Edit</a></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:case="*">
                <h2>No authors present</h2>
            </div>
            <div><a href="/authors/add" class="btn btn-success btn-lg btn-block mt-5">Add new author</a></div>
        </div>
    </div>

</div>
</body>
</html>