<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title th:text="${status}"></title>
</head>
<body class="bg-light">

<div>
    <div sec:authorize="isAuthenticated()" th:replace="fragments/navbar.html :: div.authorized-nav"></div>
    <div sec:authorize="!isAuthenticated()" th:replace="fragments/navbar.html :: div.unauthorized-nav"></div>
</div>

<div class="container align-items-center">

    <div class="py-5 text-center text-danger" th:switch="${status}" style="font-size: 60px; margin:15% 0">
        <h1 th:case="403">Access denied.</h1>
        <h1 th:case="404">Not found 404</h1>
        <h1 th:case="500">Whoops, Internal server error</h1>
        <h1 th:case="*">Whoops, something went wrong :(</h1>
    </div>
</div>
</body>
</html>