<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Add new author</title>
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/genres" class="navbar-brand">Books by genre</a>
    <a href="/authors" class="navbar-brand">Books by author</a>
</nav>

<div class="container">

    <div class="py-5 text-center">
        <h2><a href="/authors" class="badge badge-info mb-3">See all authors here</a></h2>
        <div class="col-md-12 mb-3 mt-5">
            <h4 class="px-md-5">Fields to input</h4>
            <form class="mt-3" enctype="multipart/form-data" method="post" th:action="@{/addAuthor}"
                  th:object="${author}" >
                <div class="d-flex justify-content-center">
                    <div class="col-md-3 mb-3">
                        <label for="firstName">Last Name</label>
                        <input th:field="*{lastName}" type="text" class="form-control" id="lastName" required>
                        <small class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
                    </div>
                    <div class="col-md-3 mb-4">
                        <label for="firstName">First Name</label>
                        <input th:field="*{firstName}" type="text" class="form-control" id="firstName" required>
                        <small class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></small>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="firstName">Patronymic</label>
                        <input th:field="*{patronymic}" type="text" class="form-control" id="patronymic" placeholder="Could be empty">
                        <small class="text-danger" th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}"></small>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" value="Submit">Add author</button>
            </form>
        </div>
    </div>
</div>

</div>
</body>
</html>