<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Add new book</title>
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/genres" class="navbar-brand">Books by genre</a>
    <a href="/authors" class="navbar-brand">Books by author</a>
</nav>

<div class="container">

    <div class="py-5 text-center">
        <h2><a href="/books" class="badge badge-info mb-3">See all books here</a></h2>
        <div class="col-md-12 mb-3 mt-5">
            <h4 class="px-md-5">Fields to input</h4>
            <form class="mt-3" enctype="multipart/form-data" method="post" th:action="@{/books/add}"
                  th:object="${book}">
                <div class="d-flex justify-content-center">
                    <div class="col-md-3">
                        <label for="title">Title</label>
                        <input th:field="*{title}" type="text" class="form-control" id="title" required>
                        <small class="text-danger" th:if="${#fields.hasErrors('Title')}" th:errors="*{title}"></small>
                    </div>
                    <div class="col-md-3">
                        <label for="description">Description</label>
                        <input th:field="*{description}" type="text" class="form-control" id="description">
                        <small class="text-danger" th:if="${#fields.hasErrors('description')}"
                               th:errors="*{description}"></small>
                    </div>
                    <div class="col-md-2">
                        <label for="price">Price</label>
                        <input th:field="*{price}" type="number" class="form-control" id="price" required>
                        <small class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></small>
                    </div>
                    <div class="col-md-2">
                        <h5>Genres:</h5>
                        <select th:field="${book.genres}" class="custom-select custom-select-sm" required
                                multiple="multiple">
                            <option th:each="genre : ${genres}"
                                    th:value="${{genre}}"
                                    th:text="${genre.name}"></option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <h5>Authors:</h5>
                        <select th:field="${book.authors}" class="custom-select custom-select-sm" required
                                multiple="multiple">
                            <option th:each="author : ${authors}"
                                    th:value="${{author}}"
                                    th:text="${author.lastName} + ' ' + ${author.firstName} + ' ' + ${author.patronymic}"></option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" value="Submit">Add book</button>
            </form>
        </div>
    </div>
</div>

</div>
</body>
</html>