<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Authors</title>
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/genres" class="navbar-brand">Books by genre</a>
    <a href="/authors" class="navbar-brand">Books by author</a>
</nav>

<div class="container">

    <div class="py-5 text-center">
        <div th:switch="${#lists.isEmpty(authors)}">
            <div th:case="${false}" class="table-responsive">
                <h2>Present authors</h2>
                <h3 class="p-4">Select author to see the list of his books</h3>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Last name</th>
                        <th>First name</th>
                        <th>Patronymic</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="align-middle" th:each="author : ${authors}">
                        <td><span th:text="${author.lastName}"></span></td>
                        <td><span th:text="${author.firstName}"></span></td>
                        <td><span th:text="${author.patronymic}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:case="*">
                <h2>No authors present</h2>
            </div>
        </div>
    </div>

</div>
</body>
</html>