<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Home</title>
</head>
</head>
<body>
<div>
    <div sec:authorize="isAuthenticated()" th:replace="fragments/navbar.html :: div.authorized-nav"></div>
    <div sec:authorize="!isAuthenticated()" th:replace="fragments/navbar.html :: div.unauthorized-nav"></div>
</div>

<div class="container">
    <div class="mt-5">
        <h1 style="">Books shop</h1>
        <p>
            Welcome to the Provectus Test task application!
            You can check user functionality by navigation bar on top
            <br>
            or login to get Admin navigation bar
        </p>
        <p>
            <a href="/login" class="btn btn-large btn-success">Login</a>
        </p>
    </div>

</div>
</body>
</html>