<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Success</title>
</head>
<body class="bg-light">

<div>
    <div sec:authorize="isAuthenticated()" th:replace="fragments/navbar.html :: div.authorized-nav"></div>
    <div sec:authorize="!isAuthenticated()" th:replace="fragments/navbar.html :: div.unauthorized-nav"></div>
</div>

<div class="container align-items-center">
    <div class="text-center">
        <h1 style="font-size: 60px; margin:15% 0" class="text-success">Your order was created successfully.</h1>
    </div>
</div>
</body>
</html>